doctype html
html(lang="en")
  head
    title myReact
  body
    #container
    script(src="lib/react.min.js")
    script(src="lib/react-dom.min.js")
    script(src="lib/react-router.js")
    script(src="lib/ajax.js")
    script(src="js/index.js")